name: Deploy Functions
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up PNPM
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Install
        run: pnpm install
      - name: Build Verification
        run: pnpm build:verification
        env:
          VERIFICATION_PRIVATE_KEY: ${{ secrets.VERIFICATION_PRIVATE_KEY }}
      - name: Build Firebase Functions
        run: pnpm build:firebase-functions
      - name: Firebase Functions
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_MONOIDENTITY }}' > /tmp/firebase-sa.json
          export GOOGLE_APPLICATION_CREDENTIALS=/tmp/firebase-sa.json
          pnpx --package firebase-tools firebase deploy --only functions --project monoidentity --non-interactive
