name: Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up PNPM
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Build SDK
        run: pnpm build:sdk
        env:
          VERIFICATION_PRIVATE_KEY: ${{ secrets.VERIFICATION_PRIVATE_KEY }}
      - name: Build Hub
        run: pnpm build:hub
        env:
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_KEY: ${{ secrets.CF_KEY }}
      - name: Build Firebase Functions
        run: pnpm build:firebase-functions
      - name: Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MONOIDENTITY }}
          channelId: live
          projectId: monoidentity
      - name: Firebase Functions
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_MONOIDENTITY }}' > /tmp/firebase-sa.json
          export GOOGLE_APPLICATION_CREDENTIALS=/tmp/firebase-sa.json
          pnpx --package firebase-tools firebase deploy --only functions --project monoidentity --non-interactive
      - name: Monoserve main
        uses: KTibow/monoserve/deploy@main
        with:
          config-broker-url: "https://config-broker.ktibow.workers.dev"
